@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
<!--Link Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
*/

html {
    
}
body {
    background-image: linear-gradient(90deg, #52b4ff, /*#363A6D, #212343*/ #47e08c);
    color: #101010;
    margin-bottom: -100px;
}

/*Edição Página index.html
/*====================Edição do menu Principal - Página index.html===============*/
header {
    background-color: #101010;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo img{
    border-radius: 50%;
    max-width: 60px;
    max-height: 61px;
}

#btn-mobile {
    display: none;
    border: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    float: right;
    margin-top: -45px;
}

ul#menu li a {
    color: #FFF;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 15px;
    
}

.conteudo-inicial {
    text-align: center;
    margin: 50px 20px;
    display: inline-block;
}

.conteudo-inicial p{
    font-family: 'Ubuntu', sans-serif;
    text-indent: 20px;
    text-align: justify;
    width: 50%;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
}

div.minha-imagem {
    width: 40%;
    cursor: pointer;
    display: inline-block;
}

div.cv {
    text-align: center;
    margin: 30px 0px 70px 0px;
   
}

.cv a {
    text-decoration: none;
    color: #101010;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    border: 1px solid #ff0052;
    width: 50%;
    padding: 8px;
    background-color: #FFF;
}

footer {
    background-color: #FFF;
    text-align: center;
    padding: 30px 0px;
    border-top: 2px solid #ff0052;
    margin: 80px 0px 0px 0px;
    width: 100%;
}

footer a {
    text-decoration: none;
}

footer a img {
    margin: 0px 10px;
}

/*============================Edição Página perfil pessoal========================*/
.conteudo-perfil {
    width: 100%;
    padding: 10px 15px;
}
.conteudo-perfil h2.sub-titulo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    margin-top: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.conteudo-perfil p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    text-align: justify;
    padding-left: 10px;
    text-indent: 25px;
    letter-spacing: 3px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.conteudo-perfil ul li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 3px 0px;
    margin-left: 60px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 5px;
}

svg.bi-arrow-up-square-fill {
    float: right;
    margin-bottom: 20px;
    margin-right: 40px;
    cursor: pointer;
}

svg.bi-arrow-up-square-fill:hover {
    background: #ffffff;
    border-radius: 5px;
    padding: 2px;
    border: dotted 2px #000000c9;
}

/*==============================Edição da página projetos==========================*/
div.campo-projetos {
    text-align: center;
    margin: 50px 0px;
    width: 100%;
    height: auto;
}
div.imagens {
    display: inline-block;
    margin: 15px;
}

div.imagens img {
    border: 1px solid #000000c9;
    max-width: 250px;
}

.descricao {
    border: 1px solid #000000c9;
    max-width: 250px;
    height: auto;
    margin-top: -4px;
    padding: 10px;
}

div.imagens p {
    text-align: justify;
    max-width: 250px;
    height: auto;
    padding: 0px 3px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

div.botao {
    text-align: center;
    margin-top: 50px;
}

.imagens a button{
    width: 60%;
    height: 28px;
    border-radius: 1px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 4px 4px 1px #000;
    font-weight: bolder;
    background-color: #000000c9;
    color: #ffffff;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.imagens button:hover {
    background-color: #ffffff;
    color: #101010;
    transition: 0.5s;
    /*border: 1px solid #ff0052;*/
    box-shadow: 7px 7px 8px #101010;
}

/*=============================Edição da página habilidades=========================*/
div.campo-habilidades {
    width: 100%;
    padding: 80px 0px;
    text-align: center;
    margin: 10px;
}

div.tecnologia {
    display: inline-block;
    margin: 20px;
}

.tecnologia p {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}

/*Barra de rolagem do navegador*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #ff0052;
}